<a [routerLink]="['/']">
  <mat-icon *ngIf="isMobile" class="side-button mat-light" matTooltip="Vai alla vetrina"
            matTooltipPosition="right">home</mat-icon>

  <mat-icon *ngIf="!isMobile"  color="primary" class="side-button mat-elevation-z2" matTooltip="Vai alla vetrina"
            matTooltipPosition="right">home</mat-icon>
</a>

<a [routerLink]="['/favorite']">
  <mat-icon *ngIf="isMobile && isLogged && isValidated" class="side-button mat-light" matTooltip="I tuoi preferiti"
            matTooltipPosition="right">favorite</mat-icon>

  <mat-icon *ngIf="!isMobile && isLogged && isValidated"  color="primary" class="side-button mat-elevation-z2" matTooltip="I tuoi preferiti"
            matTooltipPosition="right">favorite</mat-icon>
</a>

<a [routerLink]="['/donation',1]">
  <mat-icon *ngIf="isMobile && isLogged && isValidated" class="side-button mat-light" matTooltip="Le tue donazioni"
            matTooltipPosition="right">shopping_basket</mat-icon>

  <mat-icon *ngIf="!isMobile && isLogged && isValidated" color="primary" class="side-button mat-elevation-z2" matTooltip="Le tue donazionis"
            matTooltipPosition="right">shopping_basket</mat-icon>
</a>
