.side-menu {height: 100%;
}

.mat-sidenav-content {width: 200px;}

.mat-sidenav {
  text-align: center;
  padding: 5px;
}

.logo {width: 160px;}

.profile {
  margin: 5px;
  width: 185px;
}

.side-button {
  border: 1px solid #eee;
  border-bottom: transparent;
  padding: 20px;
  font-size: 50px;
  display: table;
  cursor: pointer;
}

a {text-decoration: none;}
@media only screen and (max-width: 768px) {
  .logo {
    display: none;
  }
}
