<mat-toolbar color="warn" class="toolbar mat-elevation-z4">

  <button class="cube-menu" (click)="toggleSidenav()" mat-fab>
    <mat-icon>menu</mat-icon>
  </button>


  <span *ngIf="!isMobile">Centro del Riuso di Malnate (VA)</span>
  <span *ngIf="isMobile">Centro del Riuso</span>
  <span class="spacer"></span>

  <span *ngIf="false">
    <button mat-raised-button color="warn" (click)="openDialog()">
      <mat-icon aria-label="Log In">account_circle</mat-icon>
      <small>Log In</small>
    </button>
  </span>

  <span *ngIf="logged">
    <button mat-raised-button color="warn" (click)="logOut()">
      <mat-icon aria-label="Log Out" class="user-photo" [style.backgroundImage]="'url(' + getUserPhoto() + ')'"></mat-icon>
      <small>Esci</small>
    </button>
  </span>
</mat-toolbar>
