.toolbar {
  position: fixed;
  z-index: 10;
}
.icon {
  padding: 0 14px;
}

.cube-menu {
  margin-right: 10px;
  background: transparent;
  box-shadow: none!important;
}

.spacer {
  flex: 1 1 auto;
}

.user-photo {
  background-size: cover;
  border-radius: 15px;
}
