.example-container {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  padding: 10px;
}

.mat-form-field {width: 100%;}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

mat-paginator {
  margin-top: 20px;
}

.spinner-container{
  height: 100%;
}
