<div id="LoginDialog" class="mat-dialog-login">
  <form [formGroup]="FormGroup">
    <div class="input-login">
      <mat-form-field class="input-left">
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error>
          <strong>Campo obbligatorio</strong> un indirizzo email valido
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-right">
        <input matInput placeholder="Inserisci la tua password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <mat-icon matSuffix class="material-icons" (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-error>
          Inserisci la tua password di almeno <strong>sei</strong> carattteri
        </mat-error>
      </mat-form-field>
    </div>

    <div class="submit-login">
      <button mat-raised-button color="warn" (click)="logIn()">
        <small>Accedi</small>
      </button>
    </div>
  </form>

</div>
