<mat-horizontal-stepper class="registration-stepper" [linear]="isLinear" (selectionChange)="register($event)">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Inserisci i tuoi dati</ng-template>

      <div class="form-2-col-g-xs">
        <mat-form-field class="form-input-lt">
          <input matInput placeholder="Nome" formControlName="name" required>
          <mat-error>
            Nome <strong>Campo obbligatorio</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-input-rt">
          <input matInput placeholder="Cognome" formControlName="lastname" required>
          <mat-error>
            Cognome <strong>Campo obbligatorio</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-2-col-g-xs">
        <mat-form-field class="form-input-lt">
          <input matInput autocomplete="email" placeholder="Email" formControlName="email" required>
          <mat-error>
            <strong>Campo obbligatorio</strong> un indirizzo email valido
          </mat-error>
        </mat-form-field>


        <mat-form-field class="form-input-rt">
          <input matInput autocomplete="current-password" placeholder="Inserisci una password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <mat-icon matSuffix class="material-icons" (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error>
            Inserisci una password di almeno <strong>sei</strong> carattteri
          </mat-error>
        </mat-form-field>
      </div>


      <mat-form-field class="full-width">
        <input matInput autocomplete="address" placeholder="Indirizzo" formControlName="address" required>
        <mat-error>
          <strong>Campo obbligatorio</strong> un indirizzo valido
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <span matPrefix>+&nbsp;</span>
        <input type="tel" matInput formControlName="telephone" placeholder="Telefono">
        <mat-icon matSuffix class="material-icons">mode_edit</mat-icon>
        <mat-hint align="start">
          <strong>Inserisci il tuo numero per essere contattabile</strong>
        </mat-hint>
      </mat-form-field>

      <div class="button">
        <button mat-raised-button (click)="close()" color="primary">Annulla</button>
        <button class="btn-right" mat-raised-button matStepperNext color="primary">Registrati</button>
      </div>
    </form>
  </mat-step>

  <mat-step #registrationStep>
    <ng-template matStepLabel>Fatto</ng-template>

    <div *ngIf="!isError">
      <h3>Attendi...</h3>

      <mat-spinner></mat-spinner>

      <h4>Al termine dell'operazione, invieremo una mail di convalida al tuo indirizzo.</h4>
    </div>

    <div *ngIf="isError">
      <h3 style="color: red">{{ errorCode }}</h3>
    </div>

  </mat-step>
</mat-horizontal-stepper>
