.main {
  position: relative;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.main-filter {
  width: 15%;
}

.main-content {
  margin: 10px 10px 10px 10px;
  width: 70%;
  min-height: 80%;
}

.demo-tab-content {
  padding-top: 20px;
}
@media only screen and (max-width: 768px) {
  .form-2-col-g-xs {
    display: inline-block;
  }

  .form-input-lt, .form-input-rt {
    margin: 0;
  }

  .main {
    display: block;
  }

  /* Registration description */
  .main-creator {
    margin: 20px;
    width: auto;
  }

  /* Registration stepper */
  .main-content {
    margin: 20px;
    width: auto;
  }
}



@media only screen and (min-width: 769px) and (max-width: 1281px) {
  .registration-description-card {
    margin: 20px 10px 20px 20px;
    width: 40%;
  }

  .registration-stepper-card {
    margin: 20px 10px 20px 20px;
    width: 60%;
  }
}
