
.not-verificated {
  text-align: center;
  background-color: #FAFAFA;
  color: #333333;
  padding: 20px;
  margin-bottom: 20px;
}

.not-verificated .mat-card-header, .warning {
  color: red;
  font-size: large;
  text-align: center;
}


.search {border-radius: 100px; padding: 10px}

.no-items {margin: 30px;}

.cube-form input {
  font-size: x-large;
  width: 100%;
  border: none;
  color: #333;
  border-radius: 100px;
  padding: 5px 15px;
  vertical-align: middle;
  height: 80%;
  -webkit-appearance: none;
  outline: none;
  transition: width .4s ease-in-out;
}

.card-deck-container {
  width: 100%;
  max-width: 1200px;
  position: relative;
  border-radius: 2px;
  padding: 10px 10px 30px;
  margin: 10px 10px 10px 10px;
  background-color: #f5f5f5;
}

.card-item {padding: 3px 3px 3px 3px;}

.loader {
  text-align: center;
  width: 100%!important;
  margin: 10px;
}

@media only screen and (max-width: 1024px) {
  .search {border-radius: 100px; padding: 3px; margin-top: 20px}
  mat-grid-list { margin-top: 2px}

  .warning .mat-raised-button {
    width: 100%;
  }
}
