
<mat-card *ngIf="!isValidated" class="not-verificated">
  <div *ngIf="!mobile">
  <mat-card-header>
    Devi verificare il tuo account, controlla la tua posta
  </mat-card-header>
    <button  color="primary" mat-raised-button=""
             (click)="sendVerification()">Rispedisci convalida</button>
  </div>
  <div class="warning" *ngIf="mobile">
    <button  color="primary" mat-raised-button=""
             (click)="sendVerification()">Rispedisci convalida</button>
  </div>
</mat-card>

<mat-card class="search">
<span>
    <form class="cube-form">
      <input #search type="search" placeholder="Cerca">
    </form>
  </span>
</mat-card>

<mat-grid-list [cols]="numCol"  [rowHeight]=rowHeight *ngIf="completed && !haNoItems">

  <mat-grid-tile *ngFor="let insertion of (insertions | searchFilter: search.value)">

    <app-item [insertion]="insertion"></app-item>
  </mat-grid-tile>


</mat-grid-list>

<mat-card class="no-items" *ngIf="completed && haNoItems">
  <mat-card-header>
    <mat-card-title>Non ci sono oggetti da mostrare</mat-card-title>
    <mat-card-subtitle>Riprova più tardi</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-progress-bar mode="indeterminate" *ngIf="!completed"></mat-progress-bar>

