<mat-card class="profile" *ngIf="isLogged">
  <mat-card-header>
    <img mat-card-avatar [src]=photoURL>
    <mat-card-title>{{ name}}</mat-card-title>
    <mat-card-subtitle>{{ level}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>

    <button mat-raised-button="">
      Modifica Profilo
      <mat-icon><i class="material-icons mat-dark">mode_edit</i></mat-icon>
    </button>

  </mat-card-actions>
</mat-card>

<div class="login" *ngIf="!isLogged">
  <div class="button">
    <button mat-raised-button  class="btn-login-google" (click)="googleLogin()">
      <mat-icon aria-label="Log In with Google" class="google-logo"></mat-icon>
      <small>Accedi con Google</small>
    </button>
  </div>
  <div class="button">
    <button mat-raised-button  color="warn" class="btn-login-email" (click)="openDialog()">
      <mat-icon aria-label="Log In with Email">email</mat-icon>
      <small>Accedi con Email</small>
    </button>
  </div>
  <div class="button">
    <button mat-button=""  class="register-req" (click)="openDialogReg()">
      <small>REGISTRATI</small>
    </button>
  </div>
</div>
