mat-card {
  margin: 5px;
 min-width: 170px;
}

mat-card-header { width: 100%}

.login {
  margin: 5px;
  width: 200px;
}


.btn-login-google, .btn-login-email, .register-req {
  width: 200px;
  height: 50px;
}


.button {margin-bottom: 10px}
