a {text-decoration: none;}

.main {
  position: relative;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.main-filter {width: 15%; }

.main-content {
  margin: 10px 10px 10px 10px;
  width: 100%;
  min-height: 700px;
}

.logo {width: 175px;}

@media only screen and (max-width: 1024px) {
  .form-2-col-g-xs {display: inline-block;}

  .form-input-lt, .form-input-rt {margin: 0;}

  .main {display: block;}

  /* Registration description */
  .main-creator {
    margin: 20px;
    width: auto;
  }

  /* Registration stepper */
  .main-content {
    margin: 20px;
    width: auto;
  }

  .app-body {
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 64px;
  }

  .app-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .logo {width: 150px;}

  mat-sidenav-content, mat-sidenav-container {
    background-color: #FAFAFA;
    text-align: center;
  }

  .nav-bar {
    text-align: center;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.26);
  }

  mat-sidenav {
    width: 35%;
  }

}

@media only screen and (min-width: 1024px) {

  mat-sidenav-container {display: none;}
}


