
<div class="main" *ngIf="!isMobile">
  <app-side-menu></app-side-menu>
  <div class="main-content">
    <app-container-view [viewPage]="viewPage"></app-container-view>
  </div>
  <div class="main-filter">
    <app-category-panel></app-category-panel>
  </div>
</div>

<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="mode"
               [(opened)]="opened" class="wrapper">
    <img src="/assets/wp/app_ace_image.png"
         class="logo" *ngIf="isMobile">
    <app-profile-view *ngIf="isMobile"></app-profile-view>
  </mat-sidenav>
  <mat-sidenav-content *ngIf="isMobile">
    <div class="nav-bar mat-elevation-z2">
      <app-nav-bar ></app-nav-bar>
    </div>
    <app-container-view [viewPage]="viewPage"></app-container-view>
  </mat-sidenav-content>
</mat-sidenav-container>

