<mat-tab-group
  class="demo-tab-group"
  *ngIf="viewPage == 'donation'"
  [selectedIndex]="selectedTab"
  (selectedTabChange)="onLinkClick($event)">
  <mat-tab label="Attive">
    <ng-template mat-tab-label>
      Attive ({{numbOfDonationActive}})
    </ng-template>
    <div class="demo-tab-content">
      <app-showcase-active></app-showcase-active>
    </div>
  </mat-tab>
  <mat-tab label="Scadute">
    <ng-template mat-tab-label>
      Scadute ({{numbOfDonationExpired}})
    </ng-template>
    <div class="demo-tab-content">
      <app-showcase-expired></app-showcase-expired>
    </div>
  </mat-tab>
  <mat-tab label="Aggiudicate">
    <ng-template mat-tab-label>
      Aggiudicate ({{numbOfDonationWon}})
    </ng-template>
    <div class="demo-tab-content">
      <app-showcase-won></app-showcase-won>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon><i class="material-icons mat-dark">history</i></mat-icon> Storico
    </ng-template>
    <div class="demo-tab-content">
      <app-history-donations></app-history-donations>
    </div>
  </mat-tab>
</mat-tab-group>


<app-showcase-favorite *ngIf="viewPage == 'favorite'"></app-showcase-favorite>

<mat-tab-group
  class="demo-tab-group"
  *ngIf="viewPage == 'home'"
  [selectedIndex]="selectedTab"
  (selectedTabChange)="onLinkClick($event)">
  <mat-tab label="Attive">
    <ng-template mat-tab-label>
      <mat-icon>dashboard</mat-icon>
      Attive ({{numbOfInsertion}})
    </ng-template>
    <div class="demo-tab-content">
      <app-showcase [mode]="ALL"></app-showcase>
    </div>
  </mat-tab>
  <mat-tab label="In Scadenza">
    <ng-template mat-tab-label>
      <mat-icon>new_releases</mat-icon>
      In Scadenza ({{numbOfLastestInsertion}})
    </ng-template>
    <div class="demo-tab-content">
      <app-showcase [mode]="LASTEST"></app-showcase>
    </div>
  </mat-tab>
  <mat-tab label="Ultimi Arrivi">
    <ng-template mat-tab-label>
      <mat-icon>fiber_new</mat-icon>
      Ultimi Arrivi ({{numbOfNewestInsertion}})
    </ng-template>
    <div class="demo-tab-content">
      <app-showcase [mode]="NEWEST"></app-showcase>
    </div>
  </mat-tab>
</mat-tab-group>
