<!--<a [routerLink]="['/dashboard', insertionId]">-->
<mat-card>


  <mat-card-header>
    <a [routerLink]="['/dashboard', insertionId]">
    <mat-card-subtitle>{{ insertion.title }}</mat-card-subtitle>
    </a>
  </mat-card-header>
  <a [routerLink]="['/dashboard', insertionId]">

    <div class="image-alone" *ngIf="imagesArray.length == 0">

    <img mat-card-image [src]="primaryImage" class="mat-elevation-z1" *ngIf="imagesArray.length == 0">
    </div>
    <div class="image-content" *ngIf="imagesArray.length > 0">

      <div class="image-primary">

        <img mat-card-image [src]="primaryImage" class="mat-elevation-z1">

      </div>
      <div class="image-gallery">

        <section *ngFor="let image of imagesArray" class="section">
          <img  [src]="image" class="thumb mat-elevation-z2" (click)="changePrimaryImage(image)">
        </section>
      </div>
    </div>
      <mat-card-content>
    <h5 class="category">{{ getCategoryName(insertion.category) }}


    </h5>

  </mat-card-content>
  </a>

  <app-like class="favorite" [key]="insertionId"></app-like>

</mat-card>
<!--</a>-->
