<!--<a [routerLink]="['/dashboard', insertionId]">-->
<mat-card>

  <app-like class="favorite" [key]="insertionId"></app-like>

  <mat-card-header>
    <a [routerLink]="['/dashboard', insertionId]">
    <mat-card-subtitle>{{ insertion.title }}</mat-card-subtitle>
    </a>
  </mat-card-header>
  <a [routerLink]="['/dashboard', insertionId]">
  <img mat-card-image [src]="insertion.image" class="mat-elevation-z1">
  <mat-card-content>
    <h6>{{ getCategoryName(insertion.category) }}


    </h6>

  </mat-card-content>
  </a>
</mat-card>
<!--</a>-->
