a {
  text-decoration: none;
}

.example-card {
  display: inline-block;
  width: 300px;
  height: 275px;
  margin: 20px;
  vertical-align: top;
  cursor: pointer;
  padding:0;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-card-image {
  margin: 5px;
  object-fit: cover;
  width:200px;
  height:200px;
}

.insertion-details, .favorite {
  float: right;
}

mat-chip {
  max-width: 200px;
  margin: 3px;
}

@media only screen and (min-width: 769px) and (max-width: 1281px) {
  .mat-card-image {
    margin: 10px;
    max-height: 70%;
    max-width: 80%;
  }
}
