/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "logos.css";

/* Generic styles */
html, body {
  margin: 0;
  min-height: 100%;
  height: 100%;

  /*background: url( '/assets/wp/material-design-background.gif' );
 background-size: cover;*/
 background-color: #FAFAFA;

  overflow-x: hidden;
}

main {
  margin-top: 90px;
}

@media only screen and (max-width: 1024px) {
  main {
    margin-top: 55px;

  }

}

.material-icons.mat-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.mat-dark.mat-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.mat-light { color: rgba(255, 255, 255, 1); }
.material-icons.mat-light.mat-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.color_green { color: #00FF00; }
.material-icons.color_white { color: #FFFFFF; }
.material-icons.color_deep_orange { color: #bf360c }

@media only screen and (max-width: 1024px) {


}

